.colum {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-elevation-z8,
.btn__block,
h2 {
  margin: 20px;
}

h2 {
  color: #fff;
  font-size: 48px;
}

.btn__block,
h2 {
  display: flex;
  justify-content: flex-end;
}
