<h2>{{climateData.cityName}}</h2>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
      <td mat-cell *matCellDef="let element">{{element.date | date: 'EEEE, MMMM d, y HH:mm'}}</td>
    </ng-container>

    <ng-container matColumnDef="temperature">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Temperature </th>
      <td mat-cell *matCellDef="let element">{{element.currentTemperature}}°C</td>
    </ng-container>

    <ng-container matColumnDef="min">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Min </th>
      <td mat-cell *matCellDef="let element">{{element.minTemperature}}°C</td>
    </ng-container>

    <ng-container matColumnDef="max">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Max </th>
      <td mat-cell *matCellDef="let element">{{element.maxTemperature}}°C</td>
    </ng-container>

    <ng-container matColumnDef="wind">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Wind speed </th>
      <td mat-cell *matCellDef="let element">{{element.wind}}</td>
    </ng-container>

    <ng-container matColumnDef="pressure">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Pressure </th>
      <td mat-cell *matCellDef="let element">{{element.pressure}}</td>
    </ng-container>

    <ng-container matColumnDef="humidity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Humidity </th>
      <td mat-cell *matCellDef="let element">{{element.humidity}}%</td>
    </ng-container>

    <ng-container matColumnDef="clouds">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Clouds </th>
      <td mat-cell *matCellDef="let element">{{element.clouds}}%</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10]" aria-label="Select page of users"></mat-paginator>
</div>

<div class="btn__block">
  <button mat-raised-button color="basic" (click)="backToLocation()">Back</button>
</div>
